@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);

  --Dark-gray: hsl(0, 0%, 59%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--Dark-cyan);
  margin: 0 auto;
  height: 720px;
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  width: 978px;
  height: 976px;
  left: -234.72px;
  top: -559.71px;
  background-image: url(images/bg-pattern-top.svg);
  background-repeat: none;
  z-index: -1;
}

body::before {
  content: "";
  position: absolute;
  width: 978px;
  height: 976px;
  top: 400px;
  left: 680px;
  background-image: url(images/bg-pattern-bottom.svg);
  background-repeat: none;
  z-index: -1;
}

h1 {
  font-size: 18px;
  line-height: 22.32px;
}

p {
  color: hsla(228, 10%, 47%, 1);
}

.card {
  width: 100%;
  height: 374px;
  border-radius: 15px;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  z-index: 100;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
}

.card-top {
  width: 350px;
  height: 140px;
  background: url(images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.card-top img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  outline: 5px solid #fff;
  position: absolute;
  top: calc(50% - 96px / 2 + 70px);
  left: calc(50% - 96px / 2);
}

.card-bottom {
  margin-top: 72px;
}

.card-bottom span {
  font-size: 18px;
  color: hsla(228, 10%, 47%, 1);
  line-height: 22.32px;
  margin-left: 7px;
  font-weight: 400;
}

.card-bottom .location {
  margin: 8px 0 28px 0;
  font-size: 14px;
  line-height: 17.36px;
}

.card-bottom .stats {
  padding: 25px 54px 24px 47px;
  width: 100%;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid hsla(228, 9%, 92%, 1);
}

.card-bottom .stats p {
  font-size: 10px;
  line-height: 12.4px;
  letter-spacing: 1.5px;
  margin-top: 4px;
}
